<div style="width: 100%; height: 100%;">
    <!--Nav Bar-->
    <div style="width: 100%; height: 130px; overflow-x: auto;">
        <mat-toolbar style="background-color: white; padding: 0; margin: 0; height: 100%;">
            <!--<span style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: larger; color: #0E2B53; margin-left: 10px; user-select: none; cursor: default;"> Hospital Canino PetsHome</span>-->
            <img src="assets/logo.png" alt="Logo" style="width: 190px; height: 100%;">
            <span class="options-spacer"></span>
            <button
              style="color: #0E2B53; background-color: transparent; font-weight: bold; font-size: medium; border: none; width: 100px; height: 60px; margin-right: 1%; cursor: pointer; user-select: none;">Inicio</button>
              <button
              style="color: #0E2B53; background-color: transparent; font-weight: bold; font-size: medium; border: none; width: 100px; height: 60px; margin-right: 1%; cursor: pointer; user-select: none;">Contacto</button>
            <button
              style="color: white; background-color: red; font-weight: bold; font-size: medium; border: none; width: 200px; height: 60px; margin-right: 1%; border-radius: 5px; cursor: pointer; user-select: none;">Crear Reporte</button>
          </mat-toolbar>
    </div>
    <!--Banners de fotos-->
    <div style="width: 100%; height: 600px; background-color: rgb(32, 45, 167);">
    </div>
    <!--Acerca de nosotros-->
    <div style="width: 100%; height: 500px; background-color: rgb(96, 102, 152);">
    </div>
    <!--Patrocinadores-->
    <div style="width: 100%; height: 80px; background-color: rgb(31, 42, 146);">
    </div>
    <!--Agradecimientos-->
    <div style="width: 100%; height: 500px; background-color: rgb(96, 102, 152);">
    </div>
    <!--Contacto-->
    <div style="width: 100%; height: 500px; background-color: rgb(16, 25, 113);">
    </div>
</div>
