<div class="containerPrimary">
  <!--Nav Bar-->
  <div class="containerNavBar">
    <mat-toolbar class="matToolbarNav">
      <img src="assets/logo.png" alt="Logo" class="logoNavBar">
      <span class="titleHome">Bienvenidos</span>
      <span class="options-spacer"></span>
      <button class="buttonsOptionsHome">Inicio</button>
      <button class="buttonsOptions" (click)="goToDash()">Iniciar sesión</button>
      <button class="buttonReport">Crear
        Reporte</button>
    </mat-toolbar>
  </div>
  <!--Banners-->
  <div class="bannerContainer">
    <div class="bannerText">
      <label class="titleBanner">
        EN PETSHOME CUIDAMOS DE ELLOS
      </label>
      <label class="subtitleBanner">
        CONTAMOS CON
      </label>
      <label [@fade]="animationState"
        class="textAnimationBanner">
        {{ images[currentIndex].text }}
      </label>
    </div>
    <div class="imageContentBanner">
      <!-- Imagen de fondo -->
      <img [@fade]="animationState" [src]="images[currentIndex].src" class="imageBanner" />
    </div>
  </div>
  <!--Acerca de nosotros-->
  <div class="containerAcerca">
    <div class="containerImageAcerca">
      <img src="assets/images/acerca de nosotros.jpg" class="imageAcerca" />
    </div>
    <div class="containerTextAcerca">
      <label class="titleTextAcerca">
        Acerca de Nosotros – PetsHome
      </label>
      <label
        class="textAcerca">
        ¡Bienvenidos a PetsHome!
        Somos un hospital veterinario con más de 20 años de experiencia comprometidos con el cuidado y bienestar de tus
        mascotas. Nos encontramos en Boca del Río, Veracruz, y atendemos con pasión y dedicación a pacientes de todo el
        estado.

        En PetsHome entendemos que las mascotas no solo son compañeros, sino parte esencial de la familia. Con el paso
        del tiempo, hemos visto cómo el vínculo entre las personas y sus animales de compañía se ha vuelto más profundo,
        y eso nos impulsa a ofrecer una atención médica integral, humana y especializada.

        Contamos con un equipo profesional altamente capacitado y tecnología de vanguardia para garantizar diagnósticos
        precisos y tratamientos efectivos. Nuestro objetivo es ayudarte a preservar la salud de tu mascota para que
        puedas disfrutar de una vida larga y feliz a su lado.

        Gracias por visitarnos. Esperamos que encuentres en nuestra página la información que necesitas para cuidar
        mejor a tu compañero de vida.
        En PetsHome, trabajamos cada día para asegurarnos de que la salud de tu mascota siga en buenas manos.
      </label>
    </div>
  </div>
  <!--Patrocinadores-->
  <div class="containerSliderInfinito">
    <div class="slider">
      <div class="slider-track">
        <div class="slide" *ngFor="let image of imagesSponsors">
          <img class="imageSlider" [src]="image" alt="Imagen del slider">
        </div>
        <div class="slide" *ngFor="let image of imagesSponsors">
          <img class="imageSlider" [src]="image" alt="Imagen del slider">
        </div>
      </div>
    </div>

  </div>
  <!--Agradecimientos-->
  <div class="containerAgradecimiento">
    <div class="containerTextAgradecimiento">
      <label class="titleAgradecimiento">
        🐾 ¡Gracias por visitarnos en PetsHome! 🐾
      </label>
      <label class="textAgradecimiento">
        En PetsHome, nos llena de alegría saber que te has tomado el tiempo de conocer más sobre nuestro hospital
        veterinario. Cada visita a nuestra página es una muestra de confianza que valoramos profundamente.

        Nos apasiona cuidar de quienes más amas: tus mascotas. Por eso, trabajamos con dedicación, cariño y
        profesionalismo para brindarles la atención que merecen en cada etapa de su vida.

        Si tienes alguna pregunta, necesitas agendar una cita o simplemente quieres conocer más sobre nuestros
        servicios, no dudes en contactarnos. ¡Será un placer acompañarte en el bienestar de tu compañero de cuatro
        patas!
      </label>
      <label class="subTitleAgradecieminto">
        Gracias por confiar en PetsHome
      </label>
      <label class="subTitleAgradecimientoFinal">
        Tu hogar de cuidado veterinario.
      </label>
    </div>
    <div class="containerImage">
      <img src="assets/logoSinFondo.png" class="imageAgradecimiento" />
    </div>
  </div>
</div>