<div class="containerPrimary">
  <!--Nav Bar-->
  <div class="containerNavBar">
    <mat-toolbar class="matToolbarNav">
      <img src="assets/logo.png" alt="Logo" class="logoNavBar">
      <span class="titleHome">Bienvenido</span>
      <span class="options-spacer"></span>
      <button class="buttonNotification" mat-icon-button (click)="togglePanel()">
        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="50"
          [attr.fill]="isNotification ? 'red' : '#0e2b53'" [ngClass]="{ 'bell-shaking': bellAnimating }">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M12 22c1.1 0 1.99-.9 1.99-2H10c0 1.1.89 2 2 2zm6-6V9c0-3.07-1.63-5.64-4.5-6.32V2.5a1.5 1.5 0 00-3 0v.18C7.63 3.36 6 5.92 6 9v7l-2 2v1h16v-1l-2-2z" />
        </svg>
      </button>
      <button class="logOUT" (click)="toggleLogOut()">Cerrar sesion</button>
    </mat-toolbar>
  </div>
  <div class="contentIncidencias">
    <!-- ACTIVO -->
    <div [style.flex]="isOpen === 'revision' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias en revisión</span>
        <svg class="arrow" *ngIf="isOpen === 'revision'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'revision'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggle('revision')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'revision'" class="contentBugsActive">
        <!--Content incidencias activos-->
        <div class="filtro-barra">
          <!--Barra de filtros-->
          <label>Filtrar por:</label>
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha">
          <label for="hora">Hora</label>
          <input type="time" id="hora">
          <button onclick="document.getElementById('hora').value = ''">Limpiar Hora</button>
          <label for="motivo">Motivo</label>
          <select id="motivo">
            <option value="agenda">Incluir todas las incidencias</option>
            <option value="agenda">Filtrar por incidencia de agenda</option>
            <option value="medicamentos">Filtrar por ncidencia de medicamentos</option>
          </select>
        </div>
        <!--Items de detalle incidencias-->
        <div class="detailsContent">
          <!--Inicio del ngFor-->
          <div *ngFor="let persona of datos" class="contentDivGeneralTarjeta">
            <!-- Botón invisible que cubre toda la tarjeta -->
            <button (click)="goToDetails()" class="buttonGoDetails">
            </button>
            <!-- Contenido visual (tarjeta) -->
            <div class="tarjeta-incidencia">
              <h2>Incidencia: Error de agenda</h2>
              <div class="info"><strong>Status:</strong> Activa</div>
              <div class="info"><strong>Fecha:</strong> 07/05/2025</div>
              <div class="info"><strong>Hora:</strong> 14:30</div>
              <div class="info"><strong>Usuario:</strong> Juan Pérez</div>
              <div class="info"><strong>Teléfono:</strong> +52 555 123 4567</div>
              <div class="info"><strong>Correo:</strong> juan.perez&#64;ejemplo.com</div>
              <div class="descripcion">
                El paciente llegó a consulta y no estaba registrada en la agenda del médico. Se tuvo que reagendar y el
                paciente expresó molestia por la confusión.
              </div>
            </div>
          </div>
          <!--fin del ngFor-->
        </div>
      </div>
    </div>
     <!--Termina Activos-->
    <!-- PENDIENTES -->
    <div [style.flex]="isOpen === 'pendientes' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias pendientes</span>
        <svg class="arrow" *ngIf="isOpen === 'pendientes'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'pendientes'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggle('pendientes')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'pendientes'" class="contentBugsActive">
        <!--Content incidencias activos-->
        <div class="detailsContent">
          <div class="filtro-barra">
            <!--Barra de filtros-->
            <label>Filtrar por:</label>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha">
            <label for="hora">Hora</label>
            <input type="time" id="hora">
            <button onclick="document.getElementById('hora').value = ''">Limpiar Hora</button>
            <label for="motivo">Motivo</label>
            <select id="motivo">
              <option value="agenda">Incluir todas las incidencias</option>
              <option value="agenda">Filtrar por incidencia de agenda</option>
              <option value="medicamentos">Filtrar por incidencia de medicamentos</option>
            </select>
          </div>
          <!--Items de detalle incidencias-->
          <div class="detailsContent">
            <!--Inicio del ngFor-->
            <div *ngFor="let persona of datos" class="contentDivGeneralTarjeta">
              <!-- Botón invisible que cubre toda la tarjeta -->
              <button (click)="goToDetails()" class="buttonGoDetails"></button>
              <!-- Contenido visual (tarjeta) -->
              <div class="tarjeta-incidencia">
                <h2>Incidencia: Error de agenda</h2>
                <div class="info"><strong>Status:</strong> Pendiente</div>
                <div class="info"><strong>Fecha:</strong> 07/05/2025</div>
                <div class="info"><strong>Hora:</strong> 14:30</div>
                <div class="info"><strong>Usuario:</strong> Juan Pérez</div>
                <div class="info"><strong>Teléfono:</strong> +52 555 123 4567</div>
                <div class="info"><strong>Correo:</strong> juan.perez&#64;ejemplo.com</div>
                <div class="descripcion">
                  El paciente llegó a consulta y no estaba registrada en la agenda del médico. Se tuvo que reagendar y
                  el paciente expresó molestia por la confusión.
                </div>
              </div>
            </div>
            <!--fin del ngFor-->
          </div>
        </div>
      </div>
    </div>
     <!--Termina Pendientes-->
    <!-- Cerrados -->
    <div [style.flex]="isOpen === 'cerrados' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias cerrados</span>
        <svg class="arrow" *ngIf="isOpen === 'cerrados'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'cerrados'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggle('cerrados')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'cerrados'" class="contentBugsActive">
        <div class="detailsContent">
          <!-- Filtro se mantendrá visible -->
          <div class="filtro-barra">
            <label>Filtrar por:</label>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha">
            <label for="hora">Hora</label>
            <input type="time" id="hora">
            <button onclick="document.getElementById('hora').value = ''">Limpiar Hora</button>
            <label for="motivo">Motivo</label>
            <select id="motivo">
              <option value="agenda">Incluir todas las incidencias</option>
              <option value="agenda">Filtrar por incidencia de agenda</option>
              <option value="medicamentos">Filtrar por incidencia de medicamentos</option>
            </select>
          </div>
          <!-- Lista scrollable -->
          <div class="detailsContent">
            <div *ngFor="let persona of datos" class="contentDivGeneralTarjeta">
              <button (click)="goToDetails()" class="buttonGoDetails"></button>
              <div class="tarjeta-incidencia">
                <h2>Incidencia: Error de agenda</h2>
                <div class="info"><strong>Status:</strong> Cerrado</div>
                <div class="info"><strong>Fecha:</strong> 07/05/2025</div>
                <div class="info"><strong>Hora:</strong> 14:30</div>
                <div class="info"><strong>Usuario:</strong> Juan Pérez</div>
                <div class="info"><strong>Teléfono:</strong> +52 555 123 4567</div>
                <div class="info"><strong>Correo:</strong> juan.perez&#64;ejemplo.com</div>
                <div class="descripcion">
                  El paciente llegó a consulta y no estaba registrada en la agenda del médico. Se tuvo que reagendar...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Termina Cerrados-->
    <!-- Cerrados sin contestacion -->
    <div [style.flex]="isOpen === 'cerradosSinContestacion' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias cerrados sin contestación</span>
        <svg class="arrow" *ngIf="isOpen === 'cerradosSinContestacion'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'cerradosSinContestacion'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggle('cerradosSinContestacion')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'cerradosSinContestacion'" class="contentBugsActive">
        <div class="detailsContent">
          <!-- Filtro se mantendrá visible -->
          <div class="filtro-barra">
            <label>Filtrar por:</label>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha">
            <label for="hora">Hora</label>
            <input type="time" id="hora">
            <button onclick="document.getElementById('hora').value = ''">Limpiar Hora</button>
            <label for="motivo">Motivo</label>
            <select id="motivo">
              <option value="agenda">Incluir todas las incidencias</option>
              <option value="agenda">Filtrar por incidencia de agenda</option>
              <option value="medicamentos">Filtrar por incidencia de medicamentos</option>
            </select>
          </div>
          <!-- Lista scrollable -->
          <div class="detailsContent">
            <div *ngFor="let persona of datos" class="contentDivGeneralTarjeta">
              <button (click)="goToDetails()" class="buttonGoDetails"></button>
              <div class="tarjeta-incidencia">
                <h2>Incidencia: Error de agenda</h2>
                <div class="info"><strong>Status:</strong> Cerrado</div>
                <div class="info"><strong>Fecha:</strong> 07/05/2025</div>
                <div class="info"><strong>Hora:</strong> 14:30</div>
                <div class="info"><strong>Usuario:</strong> Juan Pérez</div>
                <div class="info"><strong>Teléfono:</strong> +52 555 123 4567</div>
                <div class="info"><strong>Correo:</strong> juan.perez&#64;ejemplo.com</div>
                <div class="descripcion">
                  El paciente llegó a consulta y no estaba registrada en la agenda del médico. Se tuvo que reagendar...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Termina Cerrados-->
  </div>
</div>
<!-- Panel flotante a la derecha -->
<div *ngIf="panelVisible" class="panelNotifications">
  <p class="titleNotifications">Centro de Notificaciones</p>
  <app-notifications class="componentNotifications"></app-notifications>
  <button class="footer-button" mat-button color="accent" (click)="togglePanel()">Cerrar</button>
</div>