<div class="containerPrimary">
  <!--Nav Bar-->
  <div class="containerNavBar">
    <mat-toolbar class="matToolbarNav">
      <img src="assets/logo.png" alt="Logo" class="logoNavBar">
      <span class="titleHome">Bienvenido</span>
      <span class="options-spacer"></span>
      <button class="buttonNotification" mat-icon-button (click)="togglePanel()">
        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="50"
          [attr.fill]="isNotification ? 'red' : '#0e2b53'" [ngClass]="{ 'bell-shaking': bellAnimating }">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M12 22c1.1 0 1.99-.9 1.99-2H10c0 1.1.89 2 2 2zm6-6V9c0-3.07-1.63-5.64-4.5-6.32V2.5a1.5 1.5 0 00-3 0v.18C7.63 3.36 6 5.92 6 9v7l-2 2v1h16v-1l-2-2z" />
        </svg>
        <span class="notification-count" *ngIf="medicamentsWithOutStock.length > 0"> {{ medicamentsWithOutStock.length >
          9 ? '+9' : medicamentsWithOutStock.length }}</span>
      </button>
      <button class="insidents" (click)="toggIncident()">Mis Incidencias</button>
      <button class="logOUT" (click)="toggleLogOut()">Cerrar sesion</button>
    </mat-toolbar>
  </div>
  <div class="contentIncidencias">
    <!-- ACTIVO -->
    <div [style.flex]="isOpen === 'revision' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias en revisión</span>
        <svg class="arrow" *ngIf="isOpen === 'revision'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'revision'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggleOpenSeccions('revision')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'revision'" class="contentBugsActive">
        <!--Content incidencias activos-->
        <div class="filtro-barra">
          <label>Filtrar por:</label>
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha" [(ngModel)]="filters.fecha"
            (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
            name="fecha" />
          <select id="indexMotivoSelect" [(ngModel)]="filters.tipo"
            (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
            name="indexMotivoSelect" class="selectorMotivo">
            <option value="">Todas las urgencias</option>
            <option *ngFor="let m of prioridadIncidents" [value]="m.name">{{ m.name }}</option>
          </select>
          <button (click)="clearFilter()">Limpiar filtros</button>
          <!--<button (click)="tapGenerateReport()">Generar reporte</button>-->
        </div>
        <!--Items de detalle incidencias-->
        <div class="detailsContent">
          <!--Inicio del ngFor-->
          <div *ngFor="let incident of incidentsInRevisionFilter; let i = index" class="contentDivGeneralTarjeta">
            <!-- Botón invisible que cubre toda la tarjeta -->
            <button (click)="goToDetails(i)" class="buttonGoDetails">
            </button>
            <!-- Contenido visual (tarjeta) -->
            <div class="tarjeta-incidencia">
              <h2>Incidencia: {{incident.motivo}}</h2>
              <div class="info"><strong>Status: </strong>{{incident.status}}</div>
              <div class="info"><strong>Folio: </strong>{{incident.folio}}</div>
              <div class="info"><strong>Prioridad: </strong>{{incident.prioridad}}</div>
              <div class="info"><strong>Fecha: </strong>{{incident.date}}</div>
              <div class="info"><strong>Hora: </strong>{{incident.time}}</div>
              <div class="info"><strong>Usuario: </strong>{{incident.name}}</div>
              <div class="info"><strong>Teléfono: </strong>{{incident.phoneNumber}}</div>
              <div class="info"><strong>Correo: </strong>{{incident.email}}</div>
              <div class="descripcion">{{incident.description}}</div>
            </div>
          </div>
          <!--fin del ngFor-->
        </div>
      </div>
    </div>
    <!--Termina Activos-->
    <!-- PENDIENTES -->
    <div [style.flex]="isOpen === 'pendientes' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias pendientes</span>
        <svg class="arrow" *ngIf="isOpen === 'pendientes'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'pendientes'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggleOpenSeccions('pendientes')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'pendientes'" class="contentBugsActive">
        <!--Content incidencias activos-->
        <div class="detailsContent">
          <div class="filtro-barra">
            <label>Filtrar por:</label>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" [(ngModel)]="filters.fecha"
              (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
              name="fecha" />
            <select id="indexMotivoSelect" [(ngModel)]="filters.tipo"
              (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
              name="indexMotivoSelect" class="selectorMotivo">
              <option value="">Todas las urgencias</option>
              <option *ngFor="let m of prioridadIncidents" [value]="m.name">{{ m.name }}</option>
            </select>
            <button (click)="clearFilter()">Limpiar filtros</button>
            <!--<button (click)="tapGenerateReport()">Generar reporte</button>-->
          </div>
          <!--Items de detalle incidencias-->
          <div class="detailsContent">
            <!--Inicio del ngFor-->
            <div *ngFor="let incident of incidentsInPendingFilter; let i = index" class="contentDivGeneralTarjeta">
              <!-- Botón invisible que cubre toda la tarjeta -->
              <button (click)="goToDetails(i)" class="buttonGoDetails"></button>
              <!-- Contenido visual (tarjeta) -->
              <div class="tarjeta-incidencia">
                <h2>Incidencia: {{incident.motivo}}</h2>
                <div class="info"><strong>Status: </strong>{{incident.status}}</div>
                <div class="info"><strong>Folio: </strong>{{incident.folio}}</div>
                <div class="info"><strong>Prioridad: </strong>{{incident.prioridad}}</div>
                <div class="info"><strong>Fecha: </strong>{{incident.date}}</div>
                <div class="info"><strong>Hora: </strong>{{incident.time}}</div>
                <div class="info"><strong>Usuario: </strong>{{incident.name}}</div>
                <div class="info"><strong>Teléfono: </strong>{{incident.phoneNumber}}</div>
                <div class="info"><strong>Correo: </strong>{{incident.email}}</div>
                <div class="descripcion">{{incident.description}}</div>
              </div>
            </div>
            <!--fin del ngFor-->
          </div>
        </div>
      </div>
    </div>
    <!--Termina Pendientes-->
    <!-- Cerrados -->
    <div [style.flex]="isOpen === 'cerrados' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias cerrados</span>
        <svg class="arrow" *ngIf="isOpen === 'cerrados'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'cerrados'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggleOpenSeccions('cerrados')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'cerrados'" class="contentBugsActive">
        <div class="detailsContent">
          <!-- Filtro se mantendrá visible -->
          <div class="filtro-barra">
            <label>Filtrar por:</label>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" [(ngModel)]="filters.fecha"
              (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
              name="fecha" />
            <select id="indexMotivoSelect" [(ngModel)]="filters.tipo"
              (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
              name="indexMotivoSelect" class="selectorMotivo">
              <option value="">Todas las urgencias</option>
              <option *ngFor="let m of prioridadIncidents" [value]="m.name">{{ m.name }}</option>
            </select>
            <button (click)="clearFilter()">Limpiar filtros</button>
            <!--<button (click)="tapGenerateReport()">Generar reporte</button>-->
          </div>
          <!-- Lista scrollable -->
          <div class="detailsContent">
            <div *ngFor="let incident of incidentsInDoneFilter; let i = index" class="contentDivGeneralTarjeta">
              <button (click)="goToDetails(i)" class="buttonGoDetails"></button>
              <div class="tarjeta-incidencia">
                <h2>Incidencia: {{incident.motivo}}</h2>
                <div class="info"><strong>Status: </strong>{{incident.status}}</div>
                <div class="info"><strong>Folio: </strong>{{incident.folio}}</div>
                <div class="info"><strong>Prioridad: </strong>{{incident.prioridad}}</div>
                <div class="info"><strong>Fecha: </strong>{{incident.date}}</div>
                <div class="info"><strong>Hora: </strong>{{incident.time}}</div>
                <div class="info"><strong>Usuario: </strong>{{incident.name}}</div>
                <div class="info"><strong>Teléfono: </strong>{{incident.phoneNumber}}</div>
                <div class="info"><strong>Correo: </strong>{{incident.email}}</div>
                <div class="descripcion">{{incident.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Termina Cerrados-->
    <!-- Cerrados sin contestacion -->
    <div [style.flex]="isOpen === 'cerradosSinContestacion' ? '0.86' : '0 0 auto'" class="bugsActive">
      <div class="headerBugsActive">
        <span>Incidencias cerrados sin contestación</span>
        <svg class="arrow" *ngIf="isOpen === 'cerradosSinContestacion'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia arriba -->
          <path d="M7 14l5-5 5 5z" />
        </svg>
        <svg class="arrow" *ngIf="isOpen != 'cerradosSinContestacion'" xmlns="http://www.w3.org/2000/svg" height="40"
          viewBox="0 0 24 24" width="40" fill="white">
          <!-- Triángulo hacia abajo -->
          <path d="M7 10l5 5 5-5z" />
        </svg>
        <!-- Botón invisible sobre todo el div -->
        <button mat-icon-button (click)="toggleOpenSeccions('cerradosSinContestacion')" class="buttonBugActive"></button>
      </div>
      <div *ngIf="isOpen === 'cerradosSinContestacion'" class="contentBugsActive">
        <div class="detailsContent">
          <!-- Filtro se mantendrá visible -->
          <div class="filtro-barra">
            <label>Filtrar por:</label>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" [(ngModel)]="filters.fecha"
              (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
              name="fecha" />
            <select id="indexMotivoSelect" [(ngModel)]="filters.tipo"
              (ngModelChange)="filterArray(filters.fecha, filters.tipo)"
              name="indexMotivoSelect" class="selectorMotivo">
              <option value="">Todas las urgencias</option>
              <option *ngFor="let m of prioridadIncidents" [value]="m.name">{{ m.name }}</option>
            </select>
            <button (click)="clearFilter()">Limpiar filtros</button>
            <!--<button (click)="tapGenerateReport()">Generar reporte</button>-->
          </div>
          <!-- Lista scrollable -->
          <div class="detailsContent">
            <div *ngFor="let incident of incidentsInFactWithoutAnswerFilter; let i = index" class="contentDivGeneralTarjeta">
              <button (click)="goToDetails(i)" class="buttonGoDetails"></button>
              <div class="tarjeta-incidencia">
                <h2>Incidencia: {{incident.motivo}}</h2>
                <div class="info"><strong>Status: </strong>{{incident.status}}</div>
                <div class="info"><strong>Folio: </strong>{{incident.folio}}</div>
                <div class="info"><strong>Prioridad: </strong>{{incident.prioridad}}</div>
                <div class="info"><strong>Fecha: </strong>{{incident.date}}</div>
                <div class="info"><strong>Hora: </strong>{{incident.time}}</div>
                <div class="info"><strong>Usuario: </strong>{{incident.name}}</div>
                <div class="info"><strong>Teléfono: </strong>{{incident.phoneNumber}}</div>
                <div class="info"><strong>Correo: </strong>{{incident.email}}</div>
                <div class="descripcion">{{incident.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Termina Cerrados-->
  </div>
</div>
<!-- Panel flotante a la derecha -->
<div *ngIf="panelVisible" class="panelNotifications">
  <p class="titleNotifications">Centro de Notificaciones</p>
  <app-notifications class="componentNotifications" [notifications]="medicamentsWithOutStock" ></app-notifications>
  <button class="footer-button" mat-button color="accent" (click)="togglePanel()">Cerrar</button>
</div>
<!-- Loader visible mientras isLoading sea true -->
<div *ngIf="isLoading" class="loader-overlay">
  <div class="spinner"></div>
</div>