/* Container principal */
.containerPrimary {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
/* Nav Bar*/
.containerNavBar {
  width: 100%;
  height: 90px;
  overflow-x: auto;
}
.matToolbarNav {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}
.logoNavBar {
  width: 100px;
  height: 100%;
  object-fit: contain;
}
.titleHome {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: larger;
  color: #0e2b53;
  margin-left: 0px;
  user-select: none;
  cursor: default;
}
/* options-spacer es para la nav bar */
.options-spacer {
  flex: 1 1 auto;
}
.buttonsOptions {
  color: #0e2b53;
  font-weight: bold;
  font-size: medium;
  border: none;
  width: 130px;
  height: 60px;
  margin-right: 1%;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}
.buttonsOptions:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}
.buttonNotification {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buttonNotification:hover {
  transform: scale(1.3);
}
.ContentIncidencias {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*Bugs active*/
.bugsActive {
  width: 99.4%;
  display: flex;
  flex-direction: column;
  transition: flex 0.3s;
  background-color: #0e2b53;
  margin-left: 5px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.bugsActive:hover {
  background-color: red;
}
.bugsDone {
  width: 99.4%;
  display: flex;
  flex-direction: column;
  transition: flex 0.3s;
  background-color: #0e2b53;
  margin-left: 5px;
  border-radius: 10px;
}
.bugsDone:hover {
  background-color: red;
}
.headerBugsActive {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonBugActive {
  position: absolute;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.contentBugsActive {
  background-color: rgb(188, 109, 109);
  flex: 1;
  overflow: auto;
}
.detailsContent {
  width: 99%;
  height: 100%;
  margin: auto;
  background-color: aquamarine;
}
.arrow {
  margin-right: 20px;
}
span {
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
  color: white;
}
/*Animacion de campana*/
@keyframes bell-shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.bell-shaking {
  animation: bell-shake 0.8s ease-in-out infinite;
  transform-origin: top center;
}
/*Panel de notificaciones*/
.panelNotifications {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40%;
  background-color: #0e2b53a0;
  color: white;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}
.footer-button {
  position: absolute;
  width: 97%;
  height: 30px;
  border: none;
  background-color: #172950;
  color: white;
  font-weight: bold;
  font-size: 100%;
  border-radius: 20px;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}
.titleNotifications {
  font-weight: bold;
  font-size: larger;
  margin: 10px;
}
.footer-button:hover {
  background-color: red;
}
.componentNotifications {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
/*Cierre de sesion*/
.logOUT {
  background-color: red;
  color: white;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 70%;
}
.logOUT:hover {
  transform: scale(1.2);
}