<div class="containerPrimary">
  <!-- Nav Bar -->
  <div class="containerNavBar">
    <mat-toolbar class="matToolbarNav">
      <img src="assets/logo.png" alt="Logo" class="logoNavBar">
      <span class="titleHome">Control de incidencias</span>
      <span class="options-spacer"></span>
    </mat-toolbar>
  </div>
  <div>
    <!-- Sección de creación de incidencia -->
    <div class="top-bar">
      <!--
      <label for="nombreIncidencia" class="title">Crear una nueva incidencia:</label>
      <input type="text" id="nombreIncidencia" [(ngModel)]="newIncidencia.name" placeholder="Ingresa el nombre de la incidencia" />
      <label class="title" for="motivo">Prioridad:</label>
      <select id="indexSelectNew" name="indexSelectNew" [(ngModel)]="newIncidencia.prioridad" class="selectorMotivo">
        <option value=-1>Selecciona la prioridad</option>
        <option *ngFor="let m of prioridadIncidents" [value]="m.name">{{ m.name }}</option>
      </select>
      -->
    </div>
    <div class="crear-btn-container">
      <button class="btnCrear btnRojo" (click)="createMedicamentos()">Crear Incidencia</button>
    </div>
  </div>
  <!-- Contenedor de detalles con scroll interno -->
  <div class="details-container">
    <div *ngFor="let medicamento of medicamentos; let i = index" class="section">
      <h2>Nombre del medicamento: {{medicamento.name}}</h2>
      <div class="prioridad-row">
        <span class="prioridad-actual">Descripccion: {{medicamento.descripcion}}</span>
        <div class="cambiar-prioridad">
          agregar input para poner el nuevo stock
        </div>
      </div>
      <div class="botones-acciones">
        <button class="btn-actualizar" (click)="updateMedicamentos(i)">Actualizar nueva existencia</button>
        <button class="btn-eliminar" (click)="deleteMedicamentos(i)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- Loader visible mientras isLoading sea true -->
<div *ngIf="isLoading" class="loader-overlay">
  <div class="spinner"></div>
</div>