.cuadro-centrado {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0e2b53, #459ac1);
  overflow-x: hidden;
}
  .cuadro {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 #ffffff22;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.143);
  }
  .contentImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }