<div class="chat-container" [class.loaded]="loaded">
    <div class="chat-header">
        <img src="assets/logo.png" alt="User" class="avatar">
        <span class="username">Doctor</span>
    </div>
    <div class="chat-messages">
        <div *ngFor="let msg of messages" class="message" [ngClass]="msg.sender === sender ? 'right' : 'left'">
          <p>{{ msg.text }}</p>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." />
        <button class="send-btn" (click)="sendMessage()">➤</button>
      </div>
</div>